{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        <title>Pliiiz - Dashboard</title>
        {% endblock %}
        {% block style_link %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/datepicker3.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        {% endblock %}
        <!--Icons-->
        <script src="/static/js/lumino.glyphs.js"></script>
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div >
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                {% block sidebar %}
                <li class="active">
                    <a href="/home/">
                        <svg class="glyph stroked dashboard-dial">
                            <use xlink:href="#stroked-dashboard-dial"></use>
                        </svg>
                        Tableau de bord
                    </a>
                </li>
                <li>
                    <a href="/segment/">
                        <svg class="glyph stroked calendar">
                            <use xlink:href="#stroked-calendar"></use>
                        </svg>
                        Mes pliiizers
                    </a>
                </li>
                <li>
                    <a href="/acquisition/">
                        <svg class="glyph stroked line-graph">
                            <use xlink:href="#stroked-line-graph"></use>
                        </svg>
                        Mes pliiis
                    </a>
                </li>
                <li>
                    <a href="/interactions/">
                        <svg class="glyph stroked table">
                            <use xlink:href="#stroked-table"></use>
                        </svg>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="/feedback/">
                        <svg class="glyph stroked clipboard with paper">
                            <use xlink:href="#stroked-clipboard-with-paper"/>
                        </svg>
                        Aide
                    </a>
                </li>
                {% endblock %}
            </ul>
            <div class="attribution">Copyright <a href="http://compeel.com/">Compeel</a><br/></div>
        </div>
        <!--/.sidebar-->
        
        <div class="col-sm-offset-3 col-lg-10 col-lg-offset-2 main ">
            <div class="row">
                <div class="col-lg-12">
                    {% block page-header %}
                    <h1 class="page-header">Tableau de bord</h1>
                    {% endblock %}
                </div>
            </div>

             <div class="row">
                <div class="col-lg-3">
                    {% block page-header-sub %}
                    <h1 class="page-header-sub">Aujourd'hui Mardi 5 Septembre 2017</h1>
                    {% endblock %}
                </div>
            </div>
            <!--/.row-->
            {% block page-content %}
            <div class="row-fluid ">
                <div class="col-xs-2 col-md-1 col-lg-2">
                    <div class="panel  panel-widget ">
                        <div class="row no-padding">
                            <a href="/interactions/">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <svg class="glyph stroked blank document">
                                        <use xlink:href="#stroked-blank-document"/>
                                    </svg>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="medium text-primary-color">987</div>
                                    <div class="text-muted">Pliiis</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
               <div class="col-xs-2 col-md-1 col-lg-2">
                    <div class="panel  panel-widget">
                        <div class="row no-padding">
                            <a href="/feedback/">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <svg class="glyph stroked empty-message">
                                        <use xlink:href="#stroked-empty-message"></use>
                                    </svg>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="medium text-primary-color">7</div>
                                    <div class="text-muted">Pliiizer(s) actif(s) </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-1 col-lg-2">
                    <div class="panel  panel-widget ">
                        <div class="row no-padding">
                            <a href="/interactions/">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <svg class="glyph stroked blank document">
                                        <use xlink:href="#stroked-blank-document"/>
                                    </svg>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="medium text-primary-color">23 455 XOF</div>
                                    <div class="text-muted">Comm.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-1 col-lg-2">
                    <div class="panel  panel-widget">
                        <div class="row no-padding">
                            <a href="/feedback/">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <svg class="glyph stroked empty-message">
                                        <use xlink:href="#stroked-empty-message"></use>
                                    </svg>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="medium text-primary-color">30</div>
                                    <div class="text-muted">Notifs. restant </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-1 col-lg-2">
                    <div class="panel  panel-widget ">
                        <div class="row no-padding">
                            <a href="/interactions/">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <svg class="glyph stroked blank document">
                                        <use xlink:href="#stroked-blank-document"/>
                                    </svg>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="medium text-primary-color">23</div>
                                    <div class="text-muted">Demande(s)</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-lg-12" background="#000000">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Number of tickets (Last 6 months) </div>
                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-6">
                    <div class="panel panel-widget">
                        <div class="panel-heading">Number of tickets (Last 6 months) </div>
                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--/.row-->
            {% endblock %}
        </div>
      </div>
        <!--/.main-->
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/chart.min.js"></script>
        <script src="/static/js/chart-data.js"></script>
        <script src="/static/js/easypiechart.js"></script>
        <script src="/static/js/easypiechart-data.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        {% block script_js %}
        <script>
            window.onload = function() {
            
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                    responsive: true
                });
            }
            
            $('#calendar').datepicker({
            });
            
            !function ($) {
                $(document).on("click","ul.nav li.parent > a > span.icon", function(){
                    $(this).find('em:first').toggleClass("glyphicon-minus");
                });
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);
            
            $(window).on('resize', function () {
              if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
              if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })
        </script>
        {% endblock %}
    </body>
</html>