body 
{
    width:100%;
    margin:auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    font-size: .8em;
	
	display:table-cell; text-align:center; vertical-align:middle;
										
    /*background-color: rgb(247,247,247);*/
}

#header
{
	position: absolute;
	background-color: black;
	height: 70px;
	width: 100%;
}

#left-nav
{
	position: absolute;
	float: left;
	
	background-color: rgb(243,243,243);
	width: 20%;
	top:70px;
	
	color:gray;
	bottom: 0;

}

#left-nav li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(57,57,57);
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    margin: auto;
}

#left-nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    padding-top: 20%;
} 

#left-nav li:hover { 
    background-color: rgb(228,2,46);
}

#left-nav a:hover { 
    color: white;
}

#btn_area{
	position: absolute;
	float: right;
	left:20%;
	color: blue;
	background-color: white;
	width: 80%;
	top:75px;
	height: 30px;	
}

#btn_area button {
    background-color: rgb(228,2,46); /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

#container
{
	position: absolute;
	float: right;
	left:20%;
	color: blue;
	background-color: white;
	width: 80%;
	top:130px;
	color:gray;
	bottom: 0;	
}

#container table{

	width: 100%;
	height: 80%;
	
}

#container tr{
	width: 80%;
	height: 25%;

}

#container td{
	width: 30%;
}

#age,#education,#services,#job{
	width: 100%;
	/*height: 400px;*/
}


#container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#dashboad-info{

	width: 90%;
	margin: auto;
}

#dashboad-info div,#dashboad-info p {
    display: inline;
}

.info-box{
	width: 15%;
	margin: 0 1em 0 1em;
	margin: auto;
}

.info-box span{
	color: black;
	font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-align: center;	
}

.info-box-message{
	color: black;
	font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-align: center;
}

.info-box-nb{
	color: black;
	font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-align: center;	
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.bordered{
	border-style: solid;
    border-color: #ff0000 #0000ff;
}